{% extends "admin/change_list.html" %}
{% load admin_list %}
{% block menu %}{% endblock %}

{% block filters %}
{% if filter.form.fields %}
<div id="filters">
	<div id="changelist-filter">
	<form action="." method="get">
		<fieldset>
			{% for field in filter.form %}
			<div>
				<span>
				{{ field.label_tag }}
				{{ field }}
				{{ field.errors }}
				</span>
			</div>
			{% endfor %}
			<div>
				<input class="submit" type="submit" name="submit" value="Run Report" />
			</div>
		</fieldset>
	</form>
	</div>
</div>
{% endif %}
{% endblock %}
